$bodyBackgroundColor = #D4F1F4
$headerBackgroundColor = #75E6DA
$footerBackgroundColor = #145DA0
$mobileBreakPoint = 768px
$footerHeight = 200px
$tabsHeight = 60px

$desktopPaddingX = 40px
$mobilePaddingX = 20px
$desktopHeaderHeight = 100px
$mobileHeaderHeight = 60px
$desktopHeaderRegionHeight = ($desktopHeaderHeight + $tabsHeight) px
$mobileHeaderRegionHeight = ($mobileHeaderHeight + $tabsHeight) px

$commonBorderRadius = 8px
