<div class="headerWrapper">
	<div>
		header
	</div>

	<div class="buttonWrapper">
		<div class="buttonWrapper__point"></div>
		<div class="buttonWrapper__point"></div>
		<div class="buttonWrapper__point"></div>
	</div>
</div>
