<div class='lightboxWrapper'>
	<div class="arrowUp"></div>
	<nav class="lightboxWrapper__nav">
		<ul class="nav__list">
			<li class="list__item">
				a1
			</li>
			<li class="list__item">
				a2
			</li>
			<li class="list__item">
				a3
			</li>
		</ul>

	</nav>
</div>
